.example {
	PADDING-RIGHT: 5px; MARGIN-TOP: 5px; PADDING-LEFT: 15px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; BACKGROUND-COLOR: lightgrey
}
.btnexample {
	WIDTH: 100%; FONT-FAMILY: monospace; BACKGROUND-COLOR: lightgrey; TEXT-ALIGN: left
}
.ex_num {
	BORDER-TOP: 1px solid; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 80%; BORDER-BOTTOM-WIDTH: 1px; MARGIN-BOTTOM: 7px; WIDTH: 100px; BORDER-RIGHT-WIDTH: 1px
}
.syntax {
	PADDING-RIGHT: 5px; MARGIN-TOP: 7px; PADDING-LEFT: 15px; FONT-WEIGHT: 500; FONT-SIZE: 105%; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; FONT-FAMILY: Arial; BACKGROUND-COLOR: #5bd2f9; 5ba3f9: 
}
.output {
	BORDER-TOP-WIDTH: 4px; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 80%; BORDER-BOTTOM-WIDTH: 4px; BORDER-BOTTOM-COLOR: darkblue; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: darkblue 4px double; BORDER-TOP-COLOR: darkblue; PADDING-TOP: 5px; FONT-FAMILY: Verdana; BACKGROUND-COLOR: #66cc99; BORDER-RIGHT-WIDTH: 4px; BORDER-RIGHT-COLOR: darkblue; 99CC99: 
}
.pre_output {
	BORDER-TOP-WIDTH: 4px; PADDING-RIGHT: 5px; PADDING-LEFT: 10px; FONT-SIZE: 80%; BORDER-BOTTOM-WIDTH: 4px; BORDER-BOTTOM-COLOR: darkblue; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: darkblue 4px double; BORDER-TOP-COLOR: darkblue; PADDING-TOP: 5px; BACKGROUND-COLOR: #66cc99; BORDER-RIGHT-WIDTH: 4px; BORDER-RIGHT-COLOR: darkblue; 99CC99: 
}
.rule {
	PADDING-LEFT: 5px; FONT-SIZE: 80%; BORDER-LEFT-COLOR: #fa00a9; BORDER-BOTTOM-COLOR: #fa00a9; BORDER-TOP-COLOR: #fa00a9; FONT-FAMILY: "Comic Sans MS", Verdana; BORDER-LEFT-STYLE: solid; BACKGROUND-COLOR: #f3b1eb; BORDER-RIGHT-COLOR: #fa00a9; marging: 5px
}
.rule:first-letter {
	FONT-WEIGHT: 600; FONT-SIZE: 110%; COLOR: #480973
}
.op {
	FONT-SIZE: 120%; COLOR: darkblue; FONT-FAMILY: Arial; TEXT-ALIGN: center
}
.ex {
	FONT-FAMILY: Arial; BACKGROUND-COLOR: lightgrey
}
.firstrow {
	BORDER-TOP: black 4px solid; BORDER-LEFT-COLOR: black; BORDER-BOTTOM: black 2px solid; BACKGROUND-COLOR: #8dc9f5; TEXT-ALIGN: left; BORDER-RIGHT-COLOR: black
}
.lastrow {
	BORDER-LEFT-COLOR: black; BORDER-TOP-COLOR: black; BORDER-BOTTOM: black 4px solid; BORDER-RIGHT-COLOR: black
}
.row {
	BORDER-LEFT-COLOR: black; BORDER-TOP-COLOR: black; BORDER-BOTTOM: black 1px solid; BORDER-RIGHT-COLOR: black
}
